

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #06283D;
}
.header{
    border-bottom: 1px solid #65b9ed;
    margin-bottom: 10px;

}
.logo{
    font-size: 25px;
    cursor: pointer;
}
.logo:hover{
    color: #65b9ed;
}
.nav{
    /* border: 2px solid red; */
    font-size: 25px;
    padding: 10px 25px;
    list-style-type: none;
   
}
.nav a{
   color: white;
   cursor: pointer;
   text-decoration: none;
   margin: 5px 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
} 
.nav a:hover{
    color: #65b9ed;
}
.header{
    /* border: 2px solid red; */
    display: flex;
    height: 60px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.search{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search input{
    font-size: 20px;
    width: 75%;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: 600;
  
}
.search button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #06283D;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    margin-bottom: 15px;
}

.search-box {
    width: 100%;
    height: min-content;
    border: 3px dashed black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search-box input {
    color: #06283D;
    width: 70%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    /* padding-left: 32px; */
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}
